<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.xingbili.mapper.CorpMapper">

	
	<!-- 根据id表全字段更新 -->
	<update id="updateByIdWithOptimistiLock" parameterType="work.xingbili.entity.Corp">
		UPDATE auth_corp
		set 
		 id = #{id},
		 org_id = #{orgId},
		 corp_code = #{corpCode},
		 parent_corp_code = #{parentCorpCode},
		 subject_type = #{subjectType},
		 corp_address = #{corpAddress},
		 regist_capi = #{registCapi},
		 start_date = #{startDate},
		 buss_term = #{bussTerm},
		 scope = #{scope},
		 province_id = #{provinceId},
		 city_id = #{cityId},
		 industry_id = #{industryId},
		 biz_license_file_Id = #{bizLicenseFileId},
		 approval_status = #{approvalStatus},
		 approval_desc = #{approvalDesc},
		 workflow_biz_key = #{workflowBizKey},
		 business_tel = #{businessTel},
		 office_tel = #{officeTel},
		 office_addr = #{officeAddr},
		 cust_manager_no = #{custManagerNo},
		 bank_org_code = #{bankOrgCode},
		 e_account_id = #{eAccountId},
		 dk_flow_id = #{dkFlowId},
		 identity_step = #{identityStep},
		 authen_mode = #{authenMode},
		 create_user = #{createUser},
		 create_date = #{createDate},
		 update_user = #{updateUser},
		 update_date = #{updateDate},
		version = #{version} + 1 
		WHERE id = #{id, jdbcType=BIGINT} AND version = #{version}
	</update>
</mapper>
